atomicwrites==1.4.1
attrs==21.4.0
attrs-mate==1.0.2
autopep8==1.7.0
Jinja2==3.1.2
MarkupSafe==2.1.1
ordered-set==4.1.0
pathlib-mate==1.0.3
pycodestyle==2.9.1
six==1.16.0
superjson==1.0.2
toml==0.10.2
PyYAML==6.0
lupa==1.13